pyjwt
python-decouple
redis
sqlalchemy
bcrypt
pydantic
fastapi
pydantic-settings
pydantic[email]
python-multipart

python-jose
bcrypt==4.0.1
passlib[bcrypt]
Jinja2==3.1.2
asyncpg
uvicorn
starlette
passlib
jose